
<!--<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">The Cyber Boardroom</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                    </ol>
                </nav>
            </div>
        </div>


        {%  include 'includes/component/button__support.html' %}
    </div>
</div>-->

<style>
    #cbr-logo { max-width: 300px; /* Set a default max width */
                width: 100%; /* Ensure the image scales with the container */
               }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div id="hero">
                        {{ '../web-site/home-page' | athena_html_content | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Portuguese Resources #2 </h3>
                    <h6 class="card-subtitle">....</h6>
                    <div id="visitor"  style="height: 180px; width: 100%; max-height: 290px; position: relative;" class="c3">

                        <p style="height: 140px">
                            .....
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Portuguese Resources #2</h3>
                    <h6 class="card-subtitle">....</h6>
                    <div id="visitor"  style="height: 180px; width: 100%; max-height: 290px; position: relative;" class="c3">

                        <p style="height: 140px">
                            .....
                        </p>

                    </div>
                </div>
            </div>
        </div>

    <div>
</div>

